<div class="container"> <!-- ここを追加 -->
      <div class="row">
        <div class="roginimage">

        </div>
  <h1 class="head_test">Sign up</h1>
  <div class="moji">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <span class="glyphicon glyphicon-envelope"></span><%= f.label :Email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "field" %>
    <br>
    <br>
    <span class="glyphicon glyphicon-user"></span><%= f.label :YoureName %>
    <%= f.text_field :name, autofocus: true ,class: "field" %>
    <br>
    <br>
    <span class="glyphicon glyphicon-home"></span><%= f.label :address %>
    <%= f.text_field :address, autofocus: true ,class: "field"%>
    <br>
    <br>
    <span class="glyphicon glyphicon-briefcase"></span><%= f.label :Password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" ,class: "field"%>
    <br>
    <br>
    <span class="glyphicon glyphicon-briefcase"></span><%= f.label :Password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "field" %>
    <br>
    <br>
    </div>
    <h3><%= f.submit "Sign up" %></h3>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>



