<div class="headerimage">
	<div class="container">
			<h1>Fashion Board</h1>
				<%=link_to "new",new_users_topic_path %>
						<% if @topixes.present? %>
    					<% @topixes.each do |topix| %>
    					<div class="title">
    					<%= topix.title %>
    					</div>
   						<%= topix.body %>
   						<br>
   						<%= link_to "show",users_topic_path(topix.id) %>
   						<%= link_to "destroy",users_topic_path(topix.id),method: :delete,"data-confirm" => "Are you sure？"  %>
					<br>
					<br>
					<% end %>
					<% end %>
				
	</div>
</div>
