<div class="headerimage">
	<div class="container"> <!-- ここを追加 -->
    	<div class="row">
    		<br>
    		<br>
    		<div class="col-md-7">
			<%= flash[:notice] %>
			<p>
				<div class="topicsbox">
					<div class="title">
						<%= @topix.title %>
					</div>
			</p>
			<p>
			<br>
				<%= @topix.body %>
			</p>
			<p>
			<%= attachment_image_tag @topix, :post_image, :size =>'100x200' %>
			</p>
			<br>
			<br>
			<%= link_to "destroy",users_topic_path(@topix.id),method: :delete,"data-confirm" => "Are you sure？"  %>
				</div>
			</div>
		<div class="col-md-12">
			<%=link_to "TOP" ,users_topics_path ,class: "btn-circle-flat" %>
		</div>
		</div>
	</div>
</div>