 <br>
 <br>
 <br>

	<h4>コーディネート画像登録する</h4>
	<%= form_for @rain, url:admin_manager_products_path do |f| %>
		画像登録お願いします
		<p>
			<%= f.attachment_field :rain_image %>
		</p>
		<p>
		</p>
		<p>
		画像の名前
		</p>
		<p>
		<%= f.text_field :name %>
		</p>
		<p>
		画像のコメント
		</p>
		<p>
		<%= f.text_field :introduction %>
		</p>
		<%= f.submit '新規追加' %>
	<% end %>

